<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><%= @event.title %></h3>
      <p><%= @event.date_time %></p>
      <p>Main Guest: <%= @event.guest %></p>
      <p>$<%= @event.price %> per seat</p>
      <p><%= @event.description %></p>
    </div>
    <div class="col-md-6">
      <p><%= @event.latitude %></p>
      <p><%= @event.longitude %></p>
      </div>
    </div>
  </div>
</div>
